<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.grameenfoundation.fdp"
	android:versionCode="1"
	android:versionName="1.0"
	android:installLocation="internalOnly">

	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
	<application android:icon="@drawable/sf__icon"
	    android:label="@string/app_name"
		android:name=".fdpApp"
		android:manageSpaceActivity="com.salesforce.androidsdk.ui.ManageSpaceActivity">

		<!-- Launcher screen -->
		<activity android:name=".MainActivity"
		    android:label="@string/app_name"
			android:theme="@style/SalesforceSDK.ActionBarTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- Detail screen -->
		<activity android:name="org.grameenfoundation.fdp.ui.DetailActivity"
			android:theme="@style/SalesforceSDK.ActionBarTheme" android:windowSoftInputMode="stateHidden">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<!-- Plot screen -->
		<activity android:name="org.grameenfoundation.fdp.ui.plotActivity"
			android:screenOrientation="landscape"
			android:theme="@style/SalesforceSDK.ActionBarTheme" android:windowSoftInputMode="stateHidden">
		</activity>

		<!-- fdp screen -->
		<activity android:name="org.grameenfoundation.fdp.ui.fdpActivity"
			android:screenOrientation="landscape"
			android:theme="@style/SalesforceSDK.ActionBarTheme" android:windowSoftInputMode="stateHidden">
		</activity>

		<!-- Year detail screen -->
		<activity android:name="org.grameenfoundation.fdp.ui.YearDetailActivity"
			android:screenOrientation="landscape"
			android:theme="@style/SalesforceSDK.ActionBarTheme">
		</activity>

		<!-- Farmer sync service -->
		<service android:name="org.grameenfoundation.fdp.sync.ContactSyncService"
			android:exported="true"
			android:process=":sync">
			<intent-filter>
				<action android:name="android.content.SyncAdapter"/>
			</intent-filter>
			<meta-data android:name="android.content.SyncAdapter"
				android:resource="@xml/farmer_sync_adapter" />
		</service>

		<!-- Farmer data provider -->
		<!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />
	</application>

    <uses-sdk android:minSdkVersion="19"
        android:targetSdkVersion="23" />

    <!--
        GCM permission to ensure that only this application can
        receive the messages and registration result. This must be of
        the format <app-package-name>.C2D_MESSAGE for it to work.
    -->
    <permission android:name="org.grameenfoundation.fdp.C2D_MESSAGE"
		android:protectionLevel="signature" />

    <uses-permission android:name="org.grameenfoundation.fdp.C2D_MESSAGE" />
	<uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.INTERNET"/>
</manifest>
